process {
    maxForks = 50
    queueSize = 50
    withName: capsule_aind_large_scale_cellpose_4 { containerOptions = '--shm-size 4000' }
    withName: capsule_aind_z_1_puncta_detection_1 { containerOptions = '--shm-size 4000' }
    withName: capsule_aind_z_1_get_multichannel_3 { containerOptions = '--shm-size 4000' }
}

process.resourceLabels = ['allen-batch-pipeline': 'aind-z1-single-tile-r1-pipeline']
